/*vert : #2BC69E*/
/*gris foncé : #363636*/
/*noir : #1A1B1D*/
.navbar-default{
    background: none;
    border: none;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 300px;
}